<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOMES OF HOLMES</title>
  </head>
  <body>


    <div class="container-fluid navv">


        <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#"><span class="navbar-brand-color"><img src="HOMES.png" style="width:100px;"/></span></a>
          <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="padding-top:20px;">
              <li class="nav-item active">
                <a class="nav-link" href="/"><span class="nav-color activ">Home</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/solvers"><span class="nav-color">Certified-Detectives</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"><span class="nav-color">About</span></a>
              </li>

            </ul>
          </div>
        </nav>
        </div>
    </div>
    <div class="content">
      Hmm! ID failed ! Are you an imposter who has come to destroy evidence ?

    </div>
  </body>
</html>
